.compose-btn {
   cursor: pointer;
   padding: 20px;
   width: 200px;
   border-radius: 30px;
   border: none;
}

.email-compose {
   background-color: var(--lightgray);
   padding: 20px;
   margin: 20px;
   width: 100%;
   height: 400px;
}

.email-compose .text-label{
padding: 10px;
background-color: #fff;
}

.email-send {
   margin-top: 10px;
   width: 100px;
}

.email-back {
   background-color: transparent;
   border: none;
   float: right;
   font-size: 1.5em;
   margin-top: -30px;
}


textarea {
   resize: none;
   border: none;
   padding: 10px;
   height: 250px;
}