
.email-folder-list{
   cursor: pointer;
   padding: 15px 15px;
   border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
   background-color: var(--lightgray);
   text-decoration: none;
}

.email-folder-list:hover {
   background-color: var(--lighttheme);
}

/* .email-folder-list li:hover {
   background-color: var(--lightgray);
} */