.read {
   background-color: var(--lightgray);
}

.email-preview {
   position: relative;
   background: white;
   height: 50px;
   align-items: center;
   max-width: 100%;
   padding: 20px;
}

.email-preview .email-name {
font-weight: 600;
}

.email-preview .email-subject {
font-weight: 600;
}

.email-preview span {
margin-left: 20px;
}