.email-filter {
   position: absolute;
   left: 50%;
   top: 10%;
   transform: translate(-50%, -50%);
   width: 520px;
   background-color: var(--white);
   height: 35px;
   justify-content: space-between;
   box-shadow: var(--border-shadow-medium);
   margin-bottom: 20px;
}

.email-filter input {
   width: 300px;
   border: none;
   box-shadow: var(--border-shadow-medium);
   padding-left: 10px;
}

.email-filter form {
   height: 100%;
}

.email-filter button {
   cursor: pointer;
   padding: 10px;
   background-color: transparent;
   border: none;
}

.email-filter select {
   width: 70px;
   font-size: 1.2rem;
   justify-content: space-between;
   align-items: center;
   padding-right: 10px;
}