.email-container {
   margin-top: 100px;
   display: flex;
}

.side-bar {
   margin-bottom: 50px;
   margin-right: 40px;
}

.side-bar button {
   margin-bottom: 50px;
}

.email-compose {
   cursor: pointer;
   padding: 20px;
   width: 400px;
   border-radius: 30px;
   border: none;
   margin-bottom: 50px;
   text-decoration: none;
}

.view {
   width: 100%;
   height: 500px;
}