
.folders{
   margin-top: 50px;
}

.email-folder-list{
   cursor: pointer;
   font-family: roboto;
   font-size: 1.3em;
   padding: 10px 15px;
   width: 200px;
   border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
   background-color: var(--lightgray);
   text-decoration: none;
}

.email-folder-list:hover {
   background-color: var(--lighttheme);
}

.selected.email-folder-list{
   cursor: pointer;
   border: none;
   padding: 10px 15px;
   border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
   background-color: var(--theme);
   color: white;
}



/* .email-folder-list li:hover {
   background-color: var(--lightgray);
} */