.read {
   background-color: rgb(65, 64, 64);
   border-top: 1px solid rgb(63, 63, 63);
   border-bottom: 1px solid rgb(63, 63, 63);
   padding: 20px;
}

.selected {
   background-color: var(--lightgray);
   border-top: 1px solid rgb(63, 63, 63);
   border-bottom: 1px solid rgb(63, 63, 63);
   padding: 20px;
}

.email-preview {
   cursor: pointer;
   box-sizing: border-box;
   background: rgb(250, 250, 250);
   height: 50px;
   align-items: center;
   max-width: 100%;
   padding: 20px;
   border-top: 0.3px solid rgb(216, 215, 215);
}

.preview-container {
   position: relative;
}

.email-preview h4:first-child {
width: 150px;
padding-bottom: 20px;
margin-left: 20px;
overflow: hidden;
text-overflow: ellipsis;
height: 1rem;
white-space: nowrap;
}

.email-preview h4:nth-child(2) {
width: 450px;
padding-bottom: 20px;
margin-right: 100px;
overflow: hidden;
text-overflow: ellipsis;
height: 1rem;
white-space: nowrap;
}

span.email-body {
color: rgb(158, 157, 157);
overflow: hidden;
text-overflow: ellipsis;
height: 1rem;
white-space: nowrap;
}

button.btn-edit{
margin-right: 10px;
   width: 30px;
   background-color: transparent;
   border: none;
   font-size: 1em;
}