.read {
   background-color: var(--lightgray);
}

.email-preview {
   position: relative;
   background: white;
   height: 50px;
   align-items: center;
   max-width: 100%;
   padding: 20px;
}

.email-preview .email-name {
font-weight: 600;
font-weight: 600;
overflow: hidden;
text-overflow: ellipsis;
height: 1rem;
white-space: nowrap;
}

.email-preview .email-subject {
font-weight: 600;
overflow: hidden;
text-overflow: ellipsis;
height: 1rem;
white-space: nowrap;
}

.email-preview .email-body {
font-weight: 600;
overflow: hidden;
text-overflow: ellipsis;
height: 1rem;
white-space: nowrap;
}

.email-preview span {
margin-left: 20px;
font-weight: 600;
overflow: hidden;
text-overflow: ellipsis;
height: 1rem;
white-space: nowrap;
}

.email-preview button {
   background-color: transparent;
   border: none;
   font-size: 0.8em;
}