.email-container {
   margin-top: 100px;
   display: flex;
}

.side-bar {
   margin-bottom: 50px;
   margin-right: 40px;
}

.side-bar button {
   margin-bottom: 50px;
}

.email-compose {
margin-bottom: 50px;
}