.email-list {
background-color: rgb(243, 243, 243);
   border-radius: 10px;
   box-sizing: border-box;
}

.email-list .header{
   background-color: var(--theme);
   color: white;
   font-size: 1em;
   font-family: roboto;
   letter-spacing: 1.4px;
   padding: 10px;
   padding-left: 40px;
   width: 250px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   }