.note-preview{
    min-width: 200px ;
    height: fit-content;
    background-color: var(--white);
    margin: 10px;
    padding: 20px;
    box-shadow: var(--border-shadow-light);
    transition: .3s;
}


.note-preview:hover{
    transform: scale(1.02);
}


.note-preview img{
    width: 150px;
}