.note-edit-container {
    background-color: var(--white);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
    left: 0;
    bottom: 0;
}


.edit-input {
    margin-bottom: 5px;
}

.edit-buttons {
    margin-bottom: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.note-edit-container input {
    height: 25px;
}