.note-edit-container{
    /* background-color: red; */
    width: 200px;
    /* height: 50px; */
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: .3s
    }


.edit-input{
    margin-bottom: 5px;
}

.edit-buttons{
    margin-bottom: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.note-edit-container input{
    height: 25px;
}

