.home-img {
   margin: 0 auto; 
   max-height: 84vh;
   width: 100%;
   object-fit: cover;
}



.home-page-background{
   background-image: url('./imgs/daniel-krueger-8xuYVwV06Ac-unsplash.jpg');
   background-position: center;
   background-size: cover;
   display: flex;
   /* text-align: center; */
   justify-content: center;
   align-items: center;
}


.home-page-background h1{
   font-size: 3rem;
   color: var(--headtxt);
   font-family: righteous;
}

/* .home-page h2 {
   color: var(--main);
   font-size: 6em;
   position: absolute;
   z-index: 5;
text-align: center;
top: 50%;
left: 30%;
margin-top: 50px;
} */