.user-msg {
   position: absolute;
   text-align: center;
   width: 120px;
   height: 50px;
   top: 10vh;
   right: 0;
   padding: 10px;
   background-color: var(--white);
   color: var(--theme);
   display: flex;
   align-items: center;
   box-shadow: var(--border-shadow-light);
}